@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background: #F4F4F2;
}
.hina-mincho-regular {
    font-size: 24px;
    font-family: "Hina Mincho", serif;
    font-weight: 400;
    font-style: normal;
}
.font
{
    font-size: 24px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}
.main-container
{
    width: 100%;
    height: 100%;
}
.base-main-area
{
    width: 100%;
    height: 100vh;
    display: flex;
}
.base-navigation-bar
{
    width: 3%;
    height: 100%;
    background: #E8E8E8;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .2rem;
}
.base-navigation-icon-sec
{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5%;
    overflow: hidden;
}
.base-main-container
{
    width: 97%;
    height: 100vh;
    background: #F4F4F2;
    position: fixed;
    right: 0;
    overflow: hidden;
}

img
{
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
}
/* -------------- surely these styles should be much lower */
.gallery-container
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.gallery-grid
{
    width: 100%;
    height: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(4, 10px);
    grid-column-gap: 24%;
    grid-row-gap: 5%;
    padding-left: 1%;
    padding-top: 2%;
    overflow-y: scroll;
}
.photo
{
    width: 22vw;
    height: 40vh;
    background: #E8E8E8;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 7px 15px 0px;
}
.gallery-title
{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-img
{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}
.gallery-description
{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-sub-img-sec
{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.gallery-sub-title,.gallery-sub-detail
{
    width: 80%;
    height: max-content;
}
.gallery-photo
{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.product-container
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.product-grid
{
    width: 100%;
    height: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(4, 10px);
    grid-column-gap: 24%;
    grid-row-gap: 5%;
    padding-left: 1%;
    padding-top: 2%;
    overflow-y: scroll;
}
.product-spec
{
    width: 100%;
    height: 20%;
    background: #F4F4F2;
    display: flex;
    justify-content: center;
}
.product-photo-sec
{
    width: 22vw;
    height: 40vh;
    background: #E8E8E8;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 7px 15px black;
    row-gap: 2%;
    text-decoration: none;
    cursor: pointer;
}
.product-title
{
    width: 90%;
    height: auto;
    max-width: 100%;
    max-height: 50px;
    /* background: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.product-link
{   
    text-decoration: none;
    font-size: 16px;
}
.product-img
{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}
.product-sub-img-sec
{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.product-sub-title,.product-sub-detail
{
    width: 80%;
    height: max-content;
    color:#495464;
    /* background: red; */
}
.product-sub-detail
{
    width: 60%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.product-sub-detail::before
{
    content: '';
    width: 2px;
    height: 50px;
    background: #495464;
}
.product-discount
{
    font-size: 1rem;
    margin-left: 10%;
    color: red;
}
.product-photo
{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 5px;
}
.change
{
    color: black;
}
/* -------------- style for product detail */
.product-font
{
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}
.product-detail-main-container
{
    width: 100%;
    height: 100%;
}
.product-detail-sub-container
{
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    display: flex;
}
.scrollable-product-images
{
    width: 100%;
    height:  auto;
    max-height: 100vh;
    overflow-y: scroll;
    display: flex;
}
.second-section
{
    width: 50vw;
    height: auto;
    /* background: blue; */
}

.scroll-wrapper
{
    position: relative;
    right: 0;
    height: 280vh;
}
.product-choice-purchase
{
    width: 50vw;
    height: 100vh;
    /* background: blue; */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-section
{
    width: 50vw;
    height: auto;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1;
    /* grid-row-gap: 5px; */
}
 .product-imgs
 {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100vh;
    background: #495464;
    display: flex;
    justify-content: center;
}
 .product-detail-img
{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    overflow: hidden;
}
.product-specification
{
    width: 40vw;
    height: 80vh;
    /* background: rebeccapurple; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    row-gap: 5px;
    border: 4px groove black;
}
.product-name-heading,.product-price-div,.product-color,.product-se,.product-add-cart-div
{
    width: 30vw;
    height: 5vh;
    /* background: green; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-name-heading
{
    margin-top: 100px;
}
.product-name-heading::after
{
    content: '';
    width: 30vw;
    max-width: 35vw;
    height: 3px;
    background: linear-gradient(to right, #E8E8E8, #BBBFCA);
    position: absolute;
    bottom: 0;
}
.product-price-div
{
    margin-top: 20px;
}
.product-se
{
    display: flex;
    column-gap: 7px;
}
.product-percentage,.product-weight,.product-material
{
    width: auto;
    height: auto;
    /* background: green; */
}
.product-weight
{
    margin-left: 25px;
}
.product-name
{
    font-size: 2rem;
}
.product-price,.product-color,.gm,.product-material,.product-weight
{
    font-size: 1.5rem;
}
.product-offer-date
{
    font-size: 1rem;
}
.product-per,.product-weight
{
    font-size: 1rem;
}
.product-percentage
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-color
{
    display: flex;
    align-items: flex-end;
}
.product-details-section
{
    width: 50vw;
    height: 50vh;
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}
.product-details,.product-detail-section-description
{
    width: auto;
    height: auto;
    max-width: 30vw;
    max-height: 40vh;
    /* background: yellow; */
}
.test-text
{
    /* background: wheat; */
    width: auto;
    font-size: 1rem;
    margin: 0;
}



/* ----------------- updated before this line */
.space
{
    margin-top: 280px;
}
.base-svg{
    width: 25px;
    height: 25px;
    max-width: 30px;
    max-height: 30px;
}
.auth-container
{
    width: 100%;
    height: 100%;
    /* background: red; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.choice-container
{
    width:80%;
    height: 70%;
    /* background: #000; */
    /* background: #E8E8E8; */
    /* margin: 5% 12%; */
    display: flex;
    position: relative;
    border-radius: 10px;
    box-shadow: 20px 20px 55px 0;
}
.sec1
{
    width: 70%;
    height: 100%;
    /* background: green; */
    background: #E8E8E8;
    position: absolute;
    background-image: url(images/dem1nobog.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sec2
{
    width: 30%;
    height: 100%;
    /* background: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
}
.header
{
    width: 100%;
    height: 20%;
    /* background: blue; */
    /* margin-top: 61px; */
}
.header h1, p
{

    font-size: 30px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: 70px;
    
}
.form
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */
input
{
    border: none;
    width: 250px;
    height: 30px;
    padding: 5px 5px;
    text-align: center;
    /* margin-left: 50px; */
    margin-top: 5px;
    position: relative;
    border-radius: 5px;
    /* z-index: 0; */    
}
/* -------------------------------------------------------- */





#Edit-form-fname 
{
    width: 10vw;
}
#Edit-form-phone{
    width: 14vw;
}
#Edit-form-button
{
    width: 6vw;
}
#Edit-form-lname,#Edit-form-email
{
    width:  17.5vw;
}
.users-Edit-info
{
    font-size: 20px;
}






/* -------------------------------------------------------- */

.password
{
    margin-top: 10px;
}
.email::after,.password::after
{
    content: '';
    width:  250px;
    height: 3px;
    background: linear-gradient(to right, #BBBFCA ,#495464); 
    position: absolute;   
    left: 0;
    margin-top: 35px;
    /* margin-left: 50px; */
    z-index: -1;
    transition: 5ms ease;
    /* border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px; */
    /* z-index: 5; */
}
.mail
{
    width: 7%;
    height: 30%;
    /* background: #000; */
    position: absolute;
    margin-top: -2px;
    left: 0;
    margin-left: 15px;

}
.signin-link
{
    display: flex;
    position: relative;
} 
.lButton
{
    border: none;
    width: 90px;
    height: 30px;
    position: absolute;
    margin-top: 20px;
    /* margin-left: 50px; */
    background: #E8E8E8;
    border-radius: 6px;
    font-size: 14px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}
.lButton::after
{
    content: '';
    width: 0px;
    height: 2px;
    background: linear-gradient(to right, #495464, #BBBFCA);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 300ms ease-in;
    border-radius: 5px;
}
.lButton:hover::after
{
    width: 90px;
    background: linear-gradient(to left, #495464,#BBBFCA);
}
.cButton
{
    width: 110px;
    height: 30px;
    margin-top: 20px;
    margin-left: 140px;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    /* box-shadow: 5px 10px 15px; */
}
.extra-links
{  
    width:75%;
    display: flex;
    position: relative;
    justify-content: flex-start;
    /* background: yellow; */
}
.optional
{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    /* background: wheat; */
}
.op-head
{
    width: 75%;
    font-size: 16px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    /* background: green; */
    margin-top: 20px;
    /* margin-left: 50px; */
}
.sspace
{
    width: 40px;
    height: 10px;
}

/* ---------- for admin ---------------- */

/* ---------- for admin ---------------- */

/* ------------ for users--------------- */
.user-container
{
    width: 100%;
    height: 100%;
    position: absolute;
    /* column-gap: .5%; */
    display: flex;
    background: #E8E8E8;
}
.user-side-nav
{
    width: 20%;
    height: 100%;
    /* background: red; */
    display: flex;
    flex-direction: column;
    /* position: absolute; */
}
.user-main-section
{
    flex-shrink: 5;
    width: 80%;
    height: 100%;
    /* background: violet; */
    /* position: absolute; */
    right: 0;
}
.top-nav
{
    width: 100%;
    height: 40%;
    /* background: green; */
    display: flex;
    row-gap: 1%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bottom-nav
{
    width: 100%;
    height: 60%;
    /* background: violet; */
}
.user-head
{
    width: 100%;
    height: max-content;
    /* background: pink; */
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}
.user-logo
{
    flex-shrink: 0;
    width: 45%;
    height: 40%;
    /* background: #495464; */
    border: 2px solid #495464;
    border-radius: 50%;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.user-small-preview-img
{
    width: auto;
    height: auto;
    max-width: 20vw;
    max-height: 20vh;
    object-fit: contain;
}

.u-info
{
    width: 100%;
    height: max-content;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* background:red; */
    margin-top: 5%;
}
.user-info
{
    /* background: blue; */
    width: 50%;
    font-size: 14px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.use-full-link-user
{
    width: 100%;
    height: max-content;
    /* background: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-logo
{
    width: 40%;
    height: 40%;
    /* background: white; */
    margin-top: 45%;
}
.u-link
{
    display: flex;
    column-gap: 5%;
}
.ul-logos
{
    width: 20%;
    height: max-content;
    /* background: green; */
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: end;
}
.user-links
{
    display: flex;
    flex-direction: column;
    width: 40%;
    /* background: red; */
}
.user-nav-link
{
    text-decoration: none;
    font-size: 18px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    margin-top: 25%;
    color: #495464;
}
.small-space-for-user-nav
{
    width: 10%;
    height: 10%;
    /* background: black; */
}
.line-near
{
    width: .3%;
    height: 90%;
    margin-top: 2.5%;
    background: #BBBFCA;
}

.user-dashboard-heading
{
    width: 60%;
    height: max-content;
    display: flex;
    flex-direction: column;
    /* background: red; */
    padding-left: 5%;
    padding-top: 2%;
}
.clock
{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}
.clock::before
{
    content: 'Today is ';
}
.welcome-user
{   
    font-size: 28px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
}
.all-other-user-content
{
    width: 100%;
    height: 89%;
    /* background: blue; */
    display: flex;
    flex-direction: column;
}
.first-block
{
    width: 100%;
    height: 40%;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.second-block
{
    width: 100%;
    height: 60%;
    /* background: yellow; */
    display: flex;
}
.small-view
{
    width: 90%;
    height: 60%;
    /* background: green; */
    border-radius: 2rem;
    background: #F4F4F2;
}
.small-user-history-view
{
    width: 100%;
    height: 100%;
    /* background: green; */
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    /* column-gap: 10%;
    margin-top: 6%; */
}
.first-content,.second-content,.third-content
{
    width: 25%;
    width: 25%;
    /* background: greenyellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.view-logo
{
    width: 30%;
    height: 60%;
    /* background: white; */
}
.order-in-number
{
    font-size: 38px;
}
.order-heading
{
    font-size: 24px;
    margin-left: 5%;
    /* margin-top: 5%;    */
}
.first-content-info
{
    width: 100%;
    height: 40%;
    /* background: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-box
{
    grid-column-start: 1;
    grid-column-end: 4;
}
.user-info-container
{
    width: 100%;
    height: 100%;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.opac-backgroud
{
    width: 80%;
    height: 80%;
    background: #bbbfca56;
    display: flex;
    border-radius: 1rem;
    /* opacity: .5; */
    /* z-index: 0; */
}
.profile-with-logo
{
    width: 50%;
    height: 100%;
    /* background: violet; */
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.users-info-second-sec
{
    width: 50%;
    height: 100%;
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 5%; */
    /* padding-right: 5%; */
    row-gap: 5%;
    position: relative;
}
.users-location,.users-extra-info
{
    width: 85%;
    height: 40%;
    background: #F4F4F2;
    /* background: red; */
    border-radius: 1rem;
    overflow: hidden;
    /* position: relative; */
    /* opacity: 1; */
}
.location-heading
{
    width: 100%;
    height: max-content;
    /* background: red; */
    /* display: flex;
    justify-content: center; */
    padding-left: 5%;
    padding-top: 2%;
}
.location-div
{
    width: 100%;
    height: 90%;
    /* background: blueviolet; */
    display: flex;
}
.location-logo
{
    width: 30%;
    height: 90%;
    /* background: burlywood; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: .2rem solid #BBBFCA;
}
.location-svg
{
    width: 90%;
    height: 90%;
    /* background: white; */
}
.location-location
{
    width: 70%;
    height: 100%;
    /* background: brown; */
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-content: center; */
}
.text-loc-text
{
    width: 100%;
    height: max-content;
    /* background: red; */
    margin-top: 5%;
}
#Location-city, #Location-ward, #Location-street, #deliveryCity,#deliveryWard,#deliveryStreet
{
    width: 11vw;
    height: 3vh;
}
.location-update-button
{
    width: 18vw;
    height: 5vh;
    /* background: rebeccapurple; */
    margin-top: 2%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    column-gap: 40%;
}
#Location-button,#deliveryLocationButton
{
    width: 7vw;
    height: 4vh;
    /* background: blue; */
}
.location-text
{
    width: 90%;
    height: max-content;
    /* background: rebeccapurple; */
    margin: 0;
    padding-left: 5%;
    font-size: 18px;
}
/* .users-extra-info
{
    width: 90%;
    height: 35%;
    background: blue;
    display: flex;
    flex-direction: column;
} */
.users-info-first
{
    width: 85%;
    height: 90%;
    /* background: green; */
    background: #F4F4F2;
    border-radius: 5%;
}
.users-profile-logo
{
    width: 100%;
    height: 55%;
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* object-fit: contain; */
}
.user-profile-image
{
    width: auto;
    height: auto;
    max-width: 40vw;
    height: 40vh;
    object-fit: contain;
}
.users-private-info
{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 1rem;
    row-gap: 1rem;
    /* background: red; */
}
.users-p-info
{
    font-size: 20px;
    border-bottom: .1em solid #BBBFCA;
}
.users-joined-date
{
    font-size: 18px;
    color: #BBBFCA;
}
.first-first,.second-second,.third-third,.user-info-profile-img
{
    width: 100%;
    height: max-content;
    /* background: blue; */
    display: flex;
    position: relative;
    /* column-gap: 20%; */
    padding-left: 1rem;
}
.location-edit-third
{
    margin-top: 5%;
    /* background: red; */
}
.location-edit-link
{

    margin-left:5%;
}
.third-third
{
    /* background: red; */
    align-items: center;
    column-gap: 65%;
}

.user-phone
{
    position: absolute;
    right: 0;
}
.recent-purchase-box
{
    width: 50%;
    height: 100%;
    /* background: greenyellow; */
    display: flex;
    justify-content: center;
}
.recent-purchase-sec
{
    width: 80%;
    height: 100%;
    /* background: grey; */
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    background: #F4F4F2;
    /* align-items: center; */
    /* align-items: flex-start; */
    /* position: relative; */
}
.recent-purchase-heading
{
    width: 40%;
    height: max-content;
    /* background: blue; */
    /* position: absolute; */
    margin: 0;
    padding: 0;
    margin-left: 5%;
}
.recent-purchase-photo
{
    width: 90%;
    height: 90%;
    /* background: black; */
    align-self: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.purchase-photo
{
    width:80%;
    height: 100%;
    border-radius: 2rem;
}
/* ------------ for users--------------- */


/* ------------ for users order page--------------- */
.order-main-container
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.scrollable-order-grid
{
    width: 100%;
    height: 100%;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(4, 10px);
    grid-column-gap: 24%;
    grid-row-gap: 5%;
    padding-left: 1%;
    padding-top: 2%;
    overflow-y: scroll;
}
.myorder
{
    width: 22vw;
    height: 40vh;
    background: #F4F4F2;
    display: flex;
    flex-direction: column;
    /* box-shadow: 5px 7px 15px 0px; */
}
/* ------------ for users order page--------------- */